.datalist {
    font-size: var(--body-font-size-xs);
}

.datalist .container-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.datalist .wide {
    grid-column: 1 / span 2;
}

.datalist .title {
    font-weight: bold;
    font-size: var(--body-font-size-m);
}

.datalist button.selected {
    background-color: green;
}

.datalist .header {
    font-weight: bold;
    background-color: var(--highlight-background-color);
}

.datalist .odd {
    background-color: var(--overlay-background-color);
}
