.section.charts-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 
                "a b"
                "c d";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

div {
    height: 100%; 
    width: 100%;
}

.section.charts-container > .charts-wrapper > .charts.block {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.section.charts-container > .charts-wrapper > .charts.block#charts1 {
    grid-area: a;
}

.section.charts-container > .charts-wrapper > .charts.block#charts2 {
    grid-area: b;
}

.section.charts-container > .charts-wrapper > .charts.block#charts3 {
    grid-area: c;
}

.section.charts-container > .charts-wrapper > .charts.block#charts4 {
    grid-area: d;
}

.section.charts-container > .charts-wrapper{
    aspect-ratio: 1/1; 
    height: 100%;
    width: 100%;
}
