div.charts.block {
     height: 100%; 
     width: 100%; 
}

div.charts-wrapper {
    height: 100%;
    width: 100%;
}

div [_echarts_instance_] {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0 0 20px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

div [_echarts_instance_] > div {
    height: 100%;
    width: 100%;
}

div [_echarts_instance_] > div > canvas {
    height: 100%;
    width: 100%;
}

.section.charts-container > .charts-wrapper{
    height: 100%;
    width: 100%;
    padding-bottom: 24px;
    margin: auto;
    max-height: 50vh;
    max-width: 50vw;
    min-width: 300px;
    min-height: 300px;
}

.charts div.loading {
    width: 200px;
}

