div.grid.list.container {
  display: grid;
  grid-gap: 0.2em;
  width: 100%;
}

.flex { 
    display: flex;
    flex-direction: column;
}

.list-container{
    height: 100%;
}

.list-wrapper{
    height: 100%;
}

div.grid.list.row {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 3fr 1fr;
    border-radius: 5px;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

div.grid.list.row:not(.heading){
    border-color: black;
    font-size:var(--body-font-size-m);
}

div.grid.list.row.heading {
  font-weight: bold;
  background-color: var(--highlight-background-color);
}

div.grid.list.col.heading {
  border-style: solid;
  border-radius: 5px;
}

div.grid.list.row.odd {
  background-color: var(--overlay-background-color);
}

div.grid.list.col {
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 5px;
    overflow: hidden;
    font-size: var(--body-font-size-xs);
    justify-content: center;
    align-items: center;
}

div.grid.list.col.source, div.grid.list.col.source div.inner, div.grid.list.col.topurl {
    align-items: start;
    justify-content: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.source:first-child {
    border-width: 1px;
    border-top-style: solid;
}

.source:last-child {
    border-width: 1px;
    border-bottom-style: solid;
}

div.section.report-container p {
    font-size: var(--body-font-size-s);
    margin-top: 0;
}
