.section.chart-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 
                "a b"
                "c d";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

div {
    height: 100%; 
    width: 100%;
}

.section.chart-container > .chart-wrapper > .chart.block {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.section.chart-container > .chart-wrapper > .chart.block#chart1 {
    grid-area: a;
}

.section.chart-container > .chart-wrapper > .chart.block#chart2 {
    grid-area: b;
}

.section.chart-container > .chart-wrapper > .chart.block#chart3 {
    grid-area: c;
}

.section.chart-container > .chart-wrapper > .chart.block#chart4 {
    grid-area: d;
}

.section.chart-container > .chart-wrapper{
    aspect-ratio: 1/1; 
    height: 100%;
    width: 100%;
}
