div.section.domainkeys-container p {
    font-size: var(--body-font-size-s);
    margin-top: 0;
}

div.section.domainkeys-container table .right {
    text-align: right;
}

.domainkeys label {
    font-size: var(--body-font-size-s);
    font-weight: bold;
    text-align: center;
    display: block;
}

.domainkeys input {
    font-size: var(--body-font-size-s);
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
    width: 30rem;
}

.domainkeys div {
    text-align: center;
}

.domainkeys button {
    margin: 8px;
}
