

button#date\ submit {
    position: relative;
    width: fit-content;
    height: fit-content;
}

label#startdate {
    width: fit-content;
    font-size: small;
}

label#enddate {
    width: fit-content;
    font-size: small;
}

input#startdate {
    width: fit-content;
    font-size: small;
}

input#enddate {
    width: fit-content;
    font-size:small;
}

form > div {
    float: left;
}