form#date_form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    grid-column: 1 / 3;
}

button#date_submit {
    position: relative;
    width: fit-content;
    height: fit-content;
}

label#startdate {
    width: fit-content;
    font-size: small;
}

label#enddate {
    width: fit-content;
    font-size: small;
}

label#url_input {
    width: fit-content;
    font-size: small;
}

input#startdate {
    width: fit-content;
    font-size: small;
}

input#enddate {
    width: fit-content;
    font-size:small;
}

input#url_input {
    width: fit-content;
    font-size:small;
}

div {
    margin: auto;
}

button {
    margin: auto;
}