.columns-2 {
    display: grid;
    grid-template-columns: 80% 20%;
    border-right: 1px solid black;
    border-radius: 1px;
}

.columns-2 .title {
    margin-left: 0;
}

.columns-2 > [class^="row"] {
    word-wrap: break-word;
    font-size: small;
    margin-left: 0;
    border-bottom: black;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.columns-2{
    height: 75vh;
    width: 85%;
    overflow:hidden; 
    overflow-y:scroll;
}
