div.grid.sidekick.container {
    display: grid;
    grid-gap: 0.2em;
    width: 100%;
}

.sidekick-container {
    height: 100%;
}

.sidekick-wrapper {
    height: 100%;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0 0 20px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

div.grid.sidekick.row {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

div.grid.sidekick.row:not(.heading) {
    border-color: black;
    font-size:var(--body-font-size-m);
}

div.grid.sidekick.row.heading {
    font-weight: bold;
    background-color: var(--highlight-background-color);
}

div.grid.sidekick.col.heading {
    /* border-style: solid; */
}

div.grid.sidekick.row.odd {
    background-color: var(--overlay-background-color);
}

div.grid.sidekick.col {
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    font-size: var(--body-font-size-xs);
    justify-content: center;
    align-items: center;
}

div.grid.sidekick.col:not(.url, .usrexp, .heading, .avgcls, .avginp, .avglcp, .avgfid) {
    background-color: var(--highlight-background-color);
}

div.grid.sidekick.col.url {
    align-items: start;
    justify-content: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.grid.sidekick.col.pageviews {
    overflow: visible;
}

.usrexp {
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
    display: flex;
    flex-direction:row;
    width: 100%;
    background-color: #b3b3b3;
    color: white;
}

.goodbar {
    height: 100%;
    background-color: green;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.okaybar {
    height: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.badbar {
    height: 100%;
    background-color: red;
    color: black;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.noresultbar {
    height: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.fail {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: red;
}

.noresult {
    height: 100%;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-color: grey;
}

.pass {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: green;
    color: white;
}

.okay {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: orange;
}

div.section.sidekick-container p {
    font-size: var(--body-font-size-s);
    margin-top: 0;
}
