div.grid.sidekick.container {
    display: grid;
    grid-gap: 0.2em;
    width: 100%;
}

.sidekick-container {
    height: 100%;
}

.block {
    margin-bottom: 24px;
}

.sidekick.block {
    display: grid;
    grid-template-areas: "heading"
                         "pageviews"
                         "cwv";
}

.url.info {
    display: grid;
    grid-template-areas: "url"
                         "pvTitle"
                         "pvNumber"
}

.url h3 {
    grid-area: url;
}

.url h5 {
    grid-area: pvTitle;
}

.url .pv.metric.numeric {
    grid-area: pvNumber;
}

.url {
    grid-area: heading;
    margin: auto;
}

.pv {
    grid-area: pageviews;
}

.cwv.group {
    grid-area: cwv;
    width: 50vw;
    margin: auto;
}

div.grid.sidekick.row {
    display: grid; 
    height: 100%;
    grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

div.grid.sidekick.row:not(.heading) {
    border-color: black;
    font-size:var(--body-font-size-m);
}

div.grid.sidekick.row.heading {
    font-weight: bold;
    background-color: var(--highlight-background-color);
}

div.grid.sidekick.row.odd {
    background-color: var(--overlay-background-color);
}

div.grid.sidekick.col {
    display: flex;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    font-size: var(--body-font-size-xs);
    justify-content: center;
    align-items: center;
}

div.grid.sidekick.col:not(.url, .usrexp, .heading, .avgcls, .avginp, .avglcp, .avgfid) {
    background-color: var(--highlight-background-color);
}

div.grid.sidekick.col.url {
    align-items: start;
    justify-content: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.grid.sidekick.col.pageviews {
    overflow: visible;
}

.cwv.group {
    display: grid;
    grid-template-areas: 'cls inp lcp'
}

.avglcp {
    grid-area: lcp;
    margin: auto;
}

.avgcls {
    grid-area: cls;
    margin: auto;
}

.avginp {
    grid-area: inp;
    margin: auto;
}

.metric.group {
    display: grid;
    grid-template-areas:
        "title"
        "stat";
}

.title {
    grid-area: title;
    margin: auto;
}

.numeric{
    grid-area: stat;
    margin: auto;
}

.metric.numeric:not(.pv) {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 2px solid #666;
}

.goodbar {
    height: 100%;
    background-color: green;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.okaybar {
    height: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.badbar {
    height: 100%;
    background-color: red;
    color: black;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.noresultbar {
    height: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: var(--body-font-size-xs);
}

.fail {
    height: 100%;
    width: fit-content;
    background-repeat: no-repeat;
    background-color: red;
}

.noresult {
    height: 100%;
    width: fit-content;
    color: white;
    background-repeat: no-repeat;
    background-color: grey;
}

.pass {
    height: 100%;
    width: fit-content;
    background-repeat: no-repeat;
    background-color: green;
    color: white;
}

.okay {
    height: 100%;
    width: fit-content;
    background-repeat: no-repeat;
    background-color: orange;
}

div.section.sidekick-container p {
    font-size: var(--body-font-size-s);
    margin-top: 0;
}

.pv.metric.numeric {
    margin: auto;
}

h5 {
    margin: auto;
}